/*---------------------------------------------*/
/* */
/* BASIC SETUP*/
/* --------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: #383838;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ------------------------- */
/* REUSABLE COMPENENTS */
/* -------------------------*/


.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
    
}

/* ------------------------- */
/* HEADINGS */
/* -------------------------*/

h1,h2,h3 {
    
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}

h1{
    font-weight: 400;
    margin: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 300%;
    word-spacing: 4px;
}


h2{
    font-weight: 400;
    font-size:150%;
    word-spacing: 4px;
    text-align:left;
    margin-left: 5%;
    
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 170px;
    margin-bottom: 30px;
   
}

h3 {
    margin-top: -60px;
    font-weight: 400;
    font-size:150%;
    word-spacing: 4px;
    text-align:left;
    margin-left: 5%;
    margin-bottom: 3%;
}

h3:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 70px;
    margin-bottom: 30px;
}

h4 {
    color: #fff;
    font-weight: 300;
    font-size: 90%;
    margin-bottom: 7px;
    word-spacing: 2px;
    margin-left: 4px
}
/* ------------------------- */
/* HEADINGS */
/* -------------------------*/

.technologies {
    display: grid;
    grid-template-columns: repeat(2, minmax(220px, 200px));
    padding: 0px;
    margin: 0px 80px 0px;
}

.tech {
    display: list-item;
    list-style:circle;
}



    
/* ------------------------- */
/* PARAGRAPHS */
/* -------------------------*/

.long-copy {
    text-align: left;
    line-height: 145%;
    width: 50%;
    margin-left: 5%;
    padding-right: 3%;
    float: left;
}



.text-me {
    color: #cecece;
    font-size:110%;
    margin-bottom: 40px;
    width: 60%;
}

.map-text {
    line-height: 145%;
    width: 50%;
    margin-left: 60px;
    margin-bottom: 10px;
    
}


/* ------------------------- */
/* BUTTONS */
/* -------------------------*/

.btn:link,
.btn:visited,
input[type=submit]{
    
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    
}


.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #e67e22;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #e67e22;
    color: #fff;
}

/* ------------------------- */
/* HEADER */
/* -------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(img/globe_map.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 40px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
    
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22
}

/* -----------------------------IMAGES-------------------------- */

.profile-picture {
    width: 40%;
    max-width: 300px;
    float: right;
    margin-right: 50px;
}

.profile-picture img{
    height: 110%;
    width: 110%;
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    background-color: rgb(100, 255, 218);
    margin-left: 0px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    border-radius: 3px;
    filter: brightness(120%)
    
}
 
/* -----------------------------MAP-------------------------- */   
#mapid { height: 450px;
        margin-top: 20px;
        border-style:solid;
        border-radius: 10px;
}

/* ---------------------------SECTIONS-------------------------- */ 

.section-map{
    padding-bottom: 60px;
    background-color: rgba(247, 4, 4, 0.34);
}

.section-form {
    margin-top: 100px;
    margin-bottom: 60px;
    
}


/* -----------------------------FORM-------------------------- */

.contact-form {
    padding-top: 20px;
    padding-left: 60px;
    width: 60%;
    margin: left auto;
    float: left;
    
}

input,
select,
textarea {

    padding: 7px;
    border-radius: 3px;
}

/* -----------------------------ICON-------------------------- */

.social-links {
    float: left;
    margin-left: 30%;
}

.icon {
    display: block;
    text-decoration: none;
    font-size: 250%;
}

ion-icon {
  color: #848484;
}


/* -----------------------------FOOTER-------------------------- */



.footer-nav {
    list-style: none;
    
}

.footer-nav :link,
.footer-nav :visited {
    color: #000;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 2px solid transparent;
}

.footer-nav a:hover,
.footer-nav a:active {
    border-bottom: 2px solid #e67e22
}

.footer_mid { 
    
    text-align: center;
}

#deneme {
    border-style: solid;
    
}